@import "../../variables.scss";

.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.program__cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.Link {
  color: Black;
}
.return {
  margin-top: 5vh;
  border-radius: 10px;
  width: 20vw;
  height: 40px;
  border-radius: 5px;
  background-color: $mainDarkColor;
  color: $mainLightColor;
  border: 2px solid red;
}
