@import "../../variables.scss";

.home {
  background-color: black;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.home__header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home__header-title {
  font-size: 2.5rem;
  font-weight: 800;
}
.home__NavButtons-container {
  width: 60%;
  /*   background-color: red; */
  display: flex;
  flex-direction: column;
}
a {
  all: unset;
}
.home__NavButtons {
  border-radius: 10px;
  width: 100%;
  height: 40px;
}
