@import "./variables.scss";
/* font-family: "Anton", sans-serif;
font-family: "Overpass", sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
  font-size: 17px;
}
a {
  all: unset;
}

.App {
  justify-content: center;
  color: $mainLightColor;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
}

.hidden {
  display: none;
}
