@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Overpass:wght@200;300&display=swap");

// variable background

$mainLightColor: #eef4d4ff;
$mainDarkColor: #1c2826ff;
$secondaryColor: #d64550ff;
$tertiaryColor: #ea9e8dff;
$accent: #daefb3ff;

// variable font :

$mainDarkColor: #1c2826ff;
$mainLightColor: #eef4d4ff;
