@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Hubballi&display=swap");

// variable background

$mainColor: #250902;
$mainBrighter: #38040e;
$secondaryColor: #800e13;
$tertiaryColor: #640d14;
$lightGreyBackground: #fcf9f4;

// variable font :

$mainFontColor: #3c3c3c;
$secondaryFontColor: #ffffff;
$TitleFontSize: 2em;
