@import "../../variables.scss";

.countDown__title {
  color: blue;
}
.time {
  font-size: 32px;
}
.countDown__button {
  all: unset;
}
.countDown__remaining {
  margin-bottom: 10px;
  color: $mainLightColor;
  font-size: 32px;
}
.countDown__time {
  display: flex;
  color: $secondaryColor;
  font-size: 60px;
  justify-content: center;
}
.countDown__round {
  margin-bottom: 10px;
  color: $secondaryColor;
  font-size: 32px;
}
