@import "../../variables.scss";

.programCard {
  padding: 10px;
  border: 1px solid red;
  height: 30vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space space-evenly;
  align-items: center;
}
.programCard__pic {
  width: 90%;
}
.programCard__title {
  font-family: "Anton", sans-serif;
  color: $mainLightColor;
  font-size: 1.1rem;
}
